.burger_ingredients_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 12px);
  color: var(--text-inactive-color);
  text-align: center;
  cursor: pointer;
}
