.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 640px;
  margin: auto;
}

.order_number {
  align-self: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
