.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 70vh;
  padding: 0;
  overflow-y: scroll;
  list-style-type: none;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  color: #fff;
  text-decoration: none;
  background-color: #1c1c21;
  border-radius: 40px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  & ul {
    display: flex;
    flex: 1 1 1px;
    align-items: center;
    padding-left: 18px;

    & li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      min-height: 64px;
      margin-left: -18px;
      overflow: hidden;
      border-radius: 50%;

      &::before {
        position: absolute;
        inset: 2px;
        background: #131316;
        border-radius: 50%;
        content: '';
      }

      & img {
        position: absolute;
        width: 150%;
        min-height: 35px;
      }

      & div {
        position: absolute;
        inset: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0 0 0 / 40%);
        border-radius: 50%;
      }
    }
  }
}
