.burger_ingredients_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.burger_ingredients {
  max-height: 100%;
  overflow: auto;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
